# ============================================================
#              WocaFuckOff – ZÁVISLOSTI
# ============================================================
#
# Externé Python knižnice používané projektom.
#
# Stav projektu: AKTÍVNY VÝVOJ
# Spúšťanie: main.py
#
# ============================================================

PySide6
playwright
toml
requests

# ============================================================
# Štandardné Python knižnice sa sem NEPÍŠU.
# ============================================================
